*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: grey;
  width: 35%;
  margin: auto;
  text-align: center;
}

#app {
  background-color: aliceblue;
}

ul{
  list-style-position: inside;
  margin-right: 40%;
}



